*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
    
  }


.fSection{
  background-color: #0000ff;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  text-align:justify;
  align-items: center;
  
}

.fSection p{
  color: #FFF;
  line-height: 40px;

  
}
.fSection p:first-child{
  line-height: 80px;
  font-size: 2rem;
  font-weight: 900;
}
.fSection p:nth-child(2){
  font-size: 1.5rem;
  font-weight: 800;
  
}

.fSection p:last-child{
  font-size: 1rem;
  font-weight: 600;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;  
}


#jobQuery,
#location {
  padding: 0.5rem;
  width: 100%;
  max-width: 600px;
  border: none; 
  border-radius: 10px;
  margin: 10px;
}

#searchBtn {
  margin: 10px;
  padding: 0.5rem 2rem; 
  height: 40px; 
  background-color: #fff;
  color: blue;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.sSection{
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 100%;
  min-height: 400px;
}

.card {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.card p:first-child {
  color: #00F;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2px;
}
.card p:nth-child(2){
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2px;

}
.card p:nth-child(3){
  color: #00F;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;

}
.card p:last-child{
  font-weight: 400;
  line-height: 1.2rem;
  margin-bottom: 10px;
 }
}


.enquire h1{
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}

.contact{
  display: flex;
  flex-direction: column;
  
}

.form-control {
  max-width: 1000px;
  width: 100%;
  margin: 1rem auto; /* Set top and bottom margin to auto and left/right margin to 1rem */
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 10px;
  display: flex; /* Add flex display to enable centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.form-control:hover{
  border: blue 1px solid;
}
.form-control:focus {
  border-color: blue;
  outline: none;
}
textarea {
height:120px;
}
.submit-btn {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  margin: 10px auto; /* Set top and bottom margin to 10px and left/right margin to auto */
  display: block; /* Change the display to block to center horizontally */
}

.submit-btn:hover {
  transform: scale(1.06);

}


.contact-info {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.contact-item {
width: 400px;
margin-bottom: 20px;
text-align: center;
}

.contact-item span {
  font-size: 2.2rem;
  margin-bottom: 10px;
  padding: 5px;
  color: blue;
}

.contact-item p {
font-size: 16px;
line-height: 1.4;
}

.contact-item a {
text-decoration: none;
color: #333;
transition: color 0.3s;
}

.contact-item a:hover, a:focus {
color: blue;
}




footer {
  position: absolute;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}