*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .container {
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
    
  }


.fSection{
  background-color: #010184;
  display: flex;
  flex-direction: column;
  text-align:justify;
  align-items: center;
  
}

.fSection p{
  color: #FFF;
  line-height: 40px;
  width: 90%;
  
}
.fSection p:first-child{
  line-height: 60px;
  font-size: 2rem;
  font-weight: 900;
}
.fSection p:nth-child(2){
  font-size: 1.5rem;
  font-weight: 800;
  
}

.fSection p:last-child{
  font-size: 1rem;
  font-weight: 600;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;  
}


#jobQuery,
#location {
  border: 1px solid #cccccc;
  padding: 0.5rem;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  margin: 10px;
}
#jobQuery,
#location:hover{
  border: #010184 1px solid;
}
#jobQuery,
#location:focus {
  border-color: #010184;
  outline: none;
}

#searchBtn {
  margin: 10px;
  padding: 0.5rem 2rem; 
  height: 40px; 
  background-color: #010184;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#searchBtn:hover {
  transform: scale(1.06);
}


.sSection{
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 100%;
  min-height: 400px;
}

.card {
  max-width: 400px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.card p:first-child {
  color: #010184;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2px;
}
.card p:nth-child(2){
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2px;

}
.card p:nth-child(3){
  color: #010184;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;

}
.card p:last-child{
  font-weight: 400;
  line-height: 1.2rem;
  margin-bottom: 10px;
 }
}

.about{
  background-color:#010184;
  padding: 20px;
}

.about h1{
  color: white;
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
}
.about p{
  padding: 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  
}

.enquire h1{
  padding: 20px;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}

.contact{
  display: flex;
  flex-direction: column;
  
}

.form-control {
  max-width: 1000px;
  width: 90%;
  margin: 1rem auto; /* Set top and bottom margin to auto and left/right margin to 1rem */
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 10px;
  display: flex; /* Add flex display to enable centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.form-control:hover{
  border: #010184 1px solid;
}
.form-control:focus {
  border-color: #010184;
  outline: none;
}
textarea {
height:120px;
}
.submit-btn {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #010184;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  margin: 10px auto; /* Set top and bottom margin to 10px and left/right margin to auto */
  display: block; /* Change the display to block to center horizontally */
}

.submit-btn:hover {
  transform: scale(1.06);
}


.contact-info {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.contact-item {
width: 400px;
margin-bottom: 20px;
text-align: center;
}

.contact-item span {
  font-size: 2.2rem;
  margin-bottom: 10px;
  padding: 5px;
  color: #010184;
}

.contact-item p {
font-size: 16px;
line-height: 1.4;
}

.contact-item a {
text-decoration: none;
color: #333;
transition: color 0.3s;
}

.contact-item a:hover, a:focus {
color: #010184;
}




footer {
  position: absolute;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}
.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}